<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <label>Address:</label> {{walletDetails.address}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label>ETH balance:</label> {{walletDetails.ethBalance}} ETH
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label>Token balance:</label> {{walletDetails.tokenBalance}} tokens
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <mat-form-field>
        <input matInput [(ngModel)]="transferAmount" placeholder="Send ether to the account" type="number">
      </mat-form-field>
      <a mat-raised-button color="primary" (click)="sendEther()">Send</a>
    </div>
  </div>
</div>