<mat-list>
  <h3 mat-subheader>Order list</h3>
  <mat-list-item *ngFor="let order of orders">
    <label matLine> Transaction blockchain: {{order.transactionBlockchain}} </label>
    <label matLine> Transaction order: {{order.transactionId}} </label>
    <label matLine> Seller address: {{order.seller}} </label>
    <label matLine> Tokens for sell: {{order.amount}} </label>
    <label matLine> Price: {{order.price}} ETH</label>
    <a mat-raised-button color="primary" (click)="buyOrder(order.transactionId)">Buy</a>
  </mat-list-item>
</mat-list>
<a mat-raised-button color="primary" (click)="openDialog()">Create order</a>