<div class="container-fluid">
  <div class="row">
    <label>User address:</label>{{walletDetails.address}}
  </div>
  <div class="row">
    <label>Current ETH balance: </label>{{walletDetails.ethBalance}} ETH
  </div>
  <div class="row">
    <label>Token price: </label>{{tokenPrice}} ETH
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput [(ngModel)]="investAmount" placeholder="ETH to invest" type="number">
    </mat-form-field>
  </div>
  <div class="row">
    <a mat-raised-button color="primary" (click)="sendEther()">Send transfer</a>
  </div>
</div>